.item_box{
    display: block;
    justify-content: space-between;
    margin: 1rem;
    border: #f8fcfd 5px solid;
    border-radius: 10px;
    cursor: pointer;
}
.item_box:hover{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img{
    width: 20vw;
    height: 22vw;
    border-radius: 10px;
}
h4, p{
    text-align: center;
}
.pay_box{
    display: flex;
    justify-content: center;
    align-content: center;
}
@media only screen and (max-width: 350px) {
    h3{
        /* margin-top: 3rem; */
        width: 30vw;
        /* padding: 1rem; */
       
    } 
    h3{
        font-size: 20px;
    }
}